@font-face {
        font-family: charter;
        src: url(../fonts/charter-regular.otf);
        font-style: normal;
        font-weight: 400;
}

@font-face {
        font-family: charter;
        src: url(../fonts/charter-regular.otf);
        font-style: italic;
        font-weight: 400;
}

@font-face {
        font-family: charter;
        src: url(../fonts/charter-regular.otf);
        font-style: normal;
        font-weight: bold;
}

@font-face {
        font-family: charter;
        src: url(../fonts/charter-regular.otf);
        font-style: italic;
        font-weight: bold;
}
:root{
        font-size: 17px;
        --white30: white;
        --white20: #B8C1EC;
        --white10: #D4939D;

}

html{
        font-size: 16px;
        scroll-behavior: smooth;
}

body{
        color: var(--white30);
        /* font-family: charter; */
        font-family: 'Montserrat';
        background: #232946;
        margin: 0;
        /* margin: 10px 10px 10px 10px; */
        /* margin-inline: 100px; */
        /* margin-block: 100px; */
        /* margin-block-start: 50px; */
        /* margin-block-end: 50px; */
}

a{
        color: var(--white30);
}

.header-content{
        padding-inline: 20px;
        /* position: relative;
        inset-block-start: 65px; */
}

header{
        /* --white10: red; */
/*         margin-block-start: 20px; */
        font-size: 14px;
        color: var(--white);
        /* position: absolute; */
        /* top */
        /* inset-block-start: 0px; */
        /* bottom */
        /* inset-block-end: ; */
        /* left */
        /* inset-inline-start: -208px; */
        /* right */
        /* inset-inline-end: ; */
        /* inline-size: 188px; */
}

header li{
        color: var(--white20);
        margin-block-end: 16px;
}

header a{
        color: var(--white20);
        text-decoration: none;
}
header a:hover{
        color: var(--white30);
}

nav details summary{
        font-weight: bold;
}
nav p{
        font-weight: bold;
        color: var(--white);
}

pre{
        background: #232946;
        padding:40px;
        overflow: auto;
        white-space: pre-wrap;
        font-family: 'Montserrat';
        line-height: 24px;
        /* margin-block-end: 30px;
        border-radius: 50px; */
        /* border-start-start-radius: ; */

}

/* ol li:nth-child(even){
        border:1px solid red;
} */
p{
        color: var(--white20);
}

/* h1,h2,h3{
        font-weight: normal;
} */

hr{
        margin-block-start: 58px;
        margin-block-end: 40px;
        border-color: rgba(97, 97, 97, 0.2);
}

h1{
        font-size: 32px;
        /* font-size: 3.75em; */
        margin-block-start: 80px;
        margin-block-end: 16px;
        /* text-align: justify;
        font-size: 20px; */
}
p{
        text-align: justify;
}
h2{
        font-size: 40px;
        margin-block: 40px;
}
h3{
        font-size: 24px;
        font-weight: 600;
        margin-block: 16px;
}

.hero{
        /* background-image:linear-gradient(to top, rgba(255,255,255,.3), transparent), url('../Images/patron1.png'); */
        background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
        block-size: 96px;
        /* width: 100%; */
        /* background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
}

/* Para ajustar la pantallas deacuerdo a los pixeles */
/* @media screen and (max-width: 600px){
        body{
                font-size: 5px;
        }
} */
.indice{
        display: block;
        margin-block-end: 50px;
        text-align: right;
}
.indice a{
        box-sizing: content-box;
/*         background-color: black; */
        padding-block: 8px;
        padding-inline-start: 8px;
        padding-inline-end: 110px;
}

.indice a:hover{
        background-color: black;
        color: white;
}


.section-content img{
        margin-block-start: 40px;
        display: block;
        /* max-width: 100%; */
        max-inline-size: 100%;
}


#section1{
        counter-reset: titleList;
}

#section1 h3{
        counter-increment: titleList;
}

#section1 h3::before{
        content: counter(titleList,decimal)'. ';
}

/* .section-content h3::after{
        content: '';
        width: 32px;
        height: 4px;
        background-color: var(--white30);
        display: inline-block;
} */

#section3 h2{
        margin-block-start: 80px;
        font-size: 32px;
}
#section3 h3{
        font-size: 32px;
}
#section3 li{
        line-height: 24px;
        margin-block: 16px;
}
#section4 h2{
        font-size: 24px;
}
blockquote{
        margin-block-start: 58px;
        margin-block-end: 31px;
        margin-inline: 0;
        background-color: var(--white10);
        border-radius: 8px;
        line-height: 32px;
        font-size: 16px;
        /* border: 1px solid red; */
        /* padding: 24px; */
        padding-inline-end: 24px;
        padding-inline-start: 24px;
        padding-block-start: 24px;
        padding-block-end: 24px;
}

blockquote p{
        color: #232946;
}

/* .main{
        padding: 10px;
} */
.wrapper{
        max-inline-size: 902px;
        margin: auto;
        /* block-size: 100px; */
        /* overflow: auto; */
}
.main-content{
        padding-inline: 16px;
}
li{
        color: var(--white20);
}
/* .slider{
border: 1px solid red;
} */

.slider-container{
        /* block-size: 100px; */
        display: block;
        overflow: hidden;
        scroll-behavior: smooth;
        white-space: nowrap;
        font-size: 0;
}

.video{
        margin: 0;
        /* border: 1px solid blue; */
        display: inline-block;
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
}

.slider-bullet-list{
        text-align: center;
        margin-block-start: 10px;
}

.slider-bullet{
        display: inline-block;
        inline-size: 15px;
        block-size: 15px;
        background: white;
        border-radius: 50%;
}
/* ::selection{
        background: red;
} */

.form input{
        inline-size: 100%;
        border: 1px solid var(--white30);
        background: #251f24;
        box-sizing: border-box;
        border-radius: 8px;
        padding-inline: 16px;
        padding-block: 12px;
        color: var(--white30);
        font-size: 16px;
        display: block;
        margin-block-end: 24px;
}

.form input[type="submit"]{
        background: #EEBBC3;
        border: none;
        color: #232946;
}

.form input::-webkit-input-placeholder{
        color: var(--white20)
}

footer{
/*         width: 100%; */
        height: 174px;
        background-color:#EEBBC3;
        color: black;
        margin-block-start: 125px;
        display: block;
        text-align: center;
}

.titlefoot{
        font-size: 32px;
        line-height: 37.5px;
        padding-block-start: 48px;

}
.titlefoot p{
        display: block;
        text-align: center;
        margin-block: 0px;
        color: #251f24;
}
.imagenes{
        margin-block-start: 19px;
}
.imagefoot{
        block-size: 24px;
        display: inline;
}

@media screen and (min-width:1366px){
        h1{
                font-size: 64px;
                margin-block-start: 100px;
        }
        .hero{
                block-size: 350px;
        }
        .header{
                position: sticky;
                inset-block-start: -45px;
        }
        .main-content{
                padding-inline-start: 44px;
                padding-inline-end: 0px;
        }
        .header-content{
                position: relative;
                inset-block-start: 40px;
                padding-inline: 0;
        }

        h2{
                font-size: 40px;
        }
        h3{
                font-size: 32px;
        }
        #section3 h2{
                font-size: 32px;
        }
        #section3 h3{
                font-size: 32px;
        }

        header{
                position: absolute;
                inset-block-start: 0px;
                inset-inline-start: -208px;
                inline-size: 208px;
                height: 400px;
                overflow-y: scroll;
        }
        ::-webkit-scrollbar {
            width: 4px;
          }
        ::-webkit-scrollbar-thumb {
            background: white;
          }
        blockquote{
                font-size: 24px;
        }
        footer{
                block-size: 174px;
        }
}
