
@font-face {
        font-family: charter;
        src: url(../fonts/charter-regular.otf);
        font-style: normal;
        font-weight: 400;
}

@font-face {
        font-family: charter;
        src: url(../fonts/charter-regular.otf);
        font-style: italic;
        font-weight: 400;
}

@font-face {
        font-family: charter;
        src: url(../fonts/charter-regular.otf);
        font-style: normal;
        font-weight: bold;
}

@font-face {
        font-family: charter;
        src: url(../fonts/charter-regular.otf);
        font-style: italic;
        font-weight: bold;
}
:root{
        font-size: 16px;
        --gray30: #212121;
        --gray20: #212429;
        --gray10: #616161;

}

html{
        font-size: 16px;
        scroll-behavior: smooth;
}

body{
        color: var(--gray30);
        /* font-family: charter; */
        font-family: 'Rubik';
        margin: 0;
}
.header-content{
        padding-inline: 20px;
        /* position: relative;
        inset-block-start: 65px; */
}


a{
        color: var(--gray30);
}

header{
        /* --gray10: red; */
        font-size: 14px;
        color: var(--gray10);
        margin-block-start:0px;
        /* position: sticky; */
/*         top: 64px;
        left: -232px;
        z-index: 1;
 */

}

header a{
        color: var(--gray10);
        text-decoration: none;
}

nav details summary{
        font-weight: bold;
        line-height: 24px;
}

/* header ol{
        padding-inline-start: 15px;
}

header li{
        margin-bottom: 16px;
} */
.temas{
        display: block;
        box-sizing: content-box;
}

.temas p{
        box-sizing: content-box;
        padding-block: 8px;
        padding-inline-start: 8px;
        margin-block: 8px;
}

.temas p:hover{
        background-color: #5551FF;
        color: white;
}

.temas p:hover a{
        color: white;
}

pre{
        background: white;
        padding: 40px;
        /* padding-left: 40px; */
        overflow: auto;
        line-height: 24px;
        white-space: pre-wrap;
        text-align: justify;

        border-radius: 8px;
        border: 10px solid red;
        border-block-start-color: blue;
        border: 10px solid #5551FF;
        box-shadow: -10px 10px 0 0 #ABAAF6;
        font-family: 'Rubik';
}

blockquote{
        font-size: 16px;
        line-height: 24px;
        margin-block-start: 64px;
        margin-block-end: 64px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        border-left: 4px solid #5551FF;
        padding-inline-start: 16px;
        text-align: justify;

}

blockquote span{
        color:var(--gray10);
}

blockquote span::before{
        content: '-';

}


body h1{
/*         font-size: 24px; */
/*         margin-top: 64px;
        margin-bottom: 16px; */
        font-weight: normal;
        margin-block-start: 64px;
        margin-block-end: 16px;
        /* margin-left: 20px;
        margin-right: 10px; */
        /* margin: top right bottom left; */
        /* margin: 64px 10px 16px 20px;
        margin: 10px 5px; */
        /* font-size: 3.75em; */
}

h1{
        font-size: 28px;
}

/* h1 + p{
        margin-bottom: 64px;
} */

hr{
        margin-block: 64px;
}

h2{
        font-size: 32px;
        margin-block: 40px;
        font-weight: normal;
}
h3{
        font-size: 22px;
        margin-block: 16px;
        font-weight: normal;
        position: relative;
        top: 0;
        background: white;
}

/* .header{
        position: sticky;
        top:0;
} */
.indice{
        display: block;
        margin-block-end: 40px;
        text-align: justify;
}
.indice a{
        box-sizing: content-box;
/*         background-color: black; */
        padding-block: 8px;
        padding-inline-start: 8px;
        padding-inline-end: 110px;
}

.indice a:hover{
        background-color: black;
        color: white;
}


.header-content{
        position: relative;

}

.wrapper{
        max-inline-size: 902px;
        margin: auto;
}

.main-content{
        background: white;
        padding-inline: 16px;
        /* padding: 20px; */
}

/* .debug{
        box-shadow: 0 0 0 1px red;
        outline: 1px solid red;
        background: red;
        border: 1px solid red !important;
} */


.hero{
        background-image:linear-gradient(274.51deg, rgba(74,0,244,.6) 5%, rgba(142, 45, 226, 0.5) 130.61%), url('../Images/patron2.png');
        block-size: 96px;
        /* width: 100%; */
        /* background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
}

/* Para ajustar la pantallas deacuerdo a los pixeles */
/* @media screen and (max-width: 600px){
        body{
                font-size: 5px;
        }
} */

.section-content{
        margin-block-end: 0px;
        text-align: center;
}
.section-content p{
        margin-block-start: 16px;
        margin-block-end: 0px;
}

/* .section-content:first-of-type{
        margin-block: 0;
} */

.section-content ol li{
        line-height: 24px;
}

.section-content ul li{
        margin-block-end: 16px;
}
.section-content + hr{
        display: none;
}

.section-content img{
        margin-block-start: 40px;
        display: block;
        /* max-width: 100%; */
        max-inline-size: 100%;
}

#section1 img{
        margin-inline-start: 131.6px;
        margin-inline-end: 131.6px;



}

.section-content{
        counter-reset: titleList;
}

.section-content h3{
        counter-increment: titleList;
        padding-bottom: 8px;
}

#section1 h2{
        margin-block-start: 40px;
        margin-block-end: 0px;
}

#section1 p{
        margin-block-end: 0;
        justify-content: center;
}

#section2 p{
        justify-content: center;
        text-align: center;
}
#section2 h3{
        margin-block-start: 40px;
}
#section3 h2{
        margin-block-start: 156px;
}

#section3 h3{
        margin-block-start: 40px;
}
#section3{
        text-align: justify;
}
#section3 ol{
        padding-inline-start: 20px;
}
#section3 ul li::marker{
        color: #5551FF;
}

#section1 h3::before{
        content: counter(titleList,decimal) '. ';
}


.intro{
        text-align: center;
}

#section2 h3::before{
        content: counter(titleList,decimal) '. ';
}

/* ::selection{
        background: red;
} */


.slider-container{
        /* block-size: 100px; */
        display: block;
        overflow:hidden;
        scroll-behavior: smooth;
        white-space: nowrap;
        font-size: 0;
}

.video{
        margin: 0;
        /* border: 1px solid blue; */
        display: inline-block;
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
}

.slider-bullet-list{
        text-align: center;
        margin-block-start: 10px;
}

.slider-bullet{
        display: inline-block;
        inline-size: 15px;
        block-size: 15px;
        background: #5551FF;
        border-radius: 50%;
}
/* ::selection{
        background: red;
} */

.form input{
/*         border: 1px solid var(--gray30); */
        background: white;
        box-sizing: border-box;
        border-radius: 50px;
        padding-inline: 16px;
        padding-block: 12px;
        color: var(--gray10);
        font-size: 16px;
        display: inline;
        margin-block-end: 24px;
}

.form input[type="submit"]{
        background: #5551FF;
        color: white;
        border: none;
        margin-inline-start: -75px;
        float: none;
        padding-block: 15px;
}

.form input::-webkit-input-placeholder{
        color: var(--gray30)
}

footer{
/*         width: 100%; */
        height: 174px;
        background-color:var(--gray20);
        color: white;
        margin-block-start: 125px;
        display: block;
        text-align: center;
}

.titlefoot{
        font-size: 32px;
        line-height: 37.5px;
        padding-block-start: 48px;
}
.titlefoot p{
        text-align: center;
        margin-block: 0px;
}
.imagenes{
        margin-block-start: 19px;
}
.imagefoot{
        block-size: 24px;
        display: inline;
}


@media screen and (min-width:1366px){
        h1{
                font-size: 60px;
                margin-block-start: 64px;

        }
        .hero{
                block-size: 350px;
        }

        .main-content{
                background: white;
                padding-inline-start: 0px;
                padding-inline-end: 44px;
        }
        .header{
                position: sticky;
                inset-block-start: -45px;
        }

        .header-content{
                position: relative;
                inset-block-start: 65px;
                padding-inline: 0;
        }
        #section1 img{
                margin-inline-start: 395px;
                margin-inline-end: 395px;
        }

        h2{
                font-size: 32px;
        }
        h3{
                font-size: 24px;
        }



        header{
                position: absolute;
                inset-block-start: 0px;
                inset-inline-end: -208px;
                inline-size: 208px;
                height: 400px;
                overflow-y: scroll;
        }
        ::-webkit-scrollbar {
            width: 4px;
          }
        ::-webkit-scrollbar-thumb {
            background: black;
          }

        blockquote{
                font-size: 24px;
                margin-inline-start: 203px;
                margin-inline-end: 87px;
        }
        footer{
                block-size: 174px;
        }
}